* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Figtree', sans-serif;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    transition: background 2s;
    background: linear-gradient(225.35deg, #F2DBAF 0%, #9C9344 97.53%);
}

.container {
    margin: 0 auto;
    width: 1440px;
}

.header {
    height: 192px;
    background-color: #FFFFFF;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    width: 227px;
    height: 65px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.header__item {
    padding: 7px 22px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.header__item--active {
    position: relative;
    padding: 2px;
    z-index: 1;
    display: block;
}

.header__item--active span {
    display: block;
    padding: 7px 22px;
    width: 100%;
    background-color: white;
    border-radius: 68px;
}

.header__item--active::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 238, 87, 1), rgba(255, 185, 48, 1));
    border-radius: 68px;
    z-index: -1;
}

.header__btn {
    padding: 0px 16px;
    width: 157px;
    height: 48px;
    background: linear-gradient(225.35deg, #FFEE57 0%, #FFB930 97.53%);
    border-radius: 32px;

    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.main {
    position: relative;
    padding: 160px 0;
}

.main__container {
    display: flex;
    justify-content: space-between;
}

.main__img {
    margin-top: 80px;
}

.main__left {
    padding-top: 160px;
    animation: show 0.5s ease-in-out;
   /*  animation: hide 0.5s ease-in-out; */
   /* animation: show 0.5s ease-in-out, hide 0.5s ease-in-out 0.5s forwards; */
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    80% {
        opacity: 0.8;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(300px);
    }
}

.main__img {
    animation: appear 0.5s ease-in-out;
    /* animation: disappear 0.5s ease-in-out; */
    /* animation: appear 0.5s ease-in-out, disappear 0.5s ease-in-out 0.5s forwards; */
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    80% {
        opacity: 0.8;
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        transform: scale(0)
    }
}

.main__title {
    margin-bottom: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 98%;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
}

.main__text {
    width: 689px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.7);
}

.nav-buttons {
    position: absolute;
    top: 414px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1713px;
}

.nav-buttons__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFFFFF;
}